<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - StoreAlcohol</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div  class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c1bd9e; ">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="~/Images/3.png" width="120" height="60" class="d-inline-block align-top" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Mua nhiều nhất</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Giỏ hàng</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Quản lý
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Index", "Loai")">Loại rượu</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "NoiSanXuat")">Nơi sản xuất</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "TaiKhoan")">Tài khoản</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "KhachHang")">Khách hàng</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Index", "Hang")">Hãng</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "SanPham")">Sản phẩm</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "DatHang")">Đặt hàng</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "DatHang_ChiTiet")">Đặt hàng chi tiết</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Bạn muốn tìm gì?" />
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Tìm kiếm</button>
                </form>
            </div>
        </nav>
    </div>

    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Bản quyền @DateTime.Now.Year bởi DH19PM.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
<style>
    body {
        padding-top: 0px;
        padding-bottom: 20px;
    }
    
</style>
</body>
</html>